body{
    height: 100%;
    width: 100%;
    background: green;
}
.card{
    display: inline-block;
    background: white;
    width: 20%;
    height: 60%;
    border-radius: 8px;
    position: absolute; left: 40%;
}
#numero{
    display: inline-block;
    position: absolute; left: 40%; top: 8%;
    font-size: 100px;
}
#pintaizquierda{
    display: inline-block;
    position: absolute;
    left: 5%; top: -15%;
    font-size: 60px;
}
#pintaderecha{
    display: inline-block;
    position: absolute;
    left: 83%; top: 65%;
    font-size: 60px;
}